*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.none{
    display:none;
    width:0;
    height:0;
}
#map{
    width:800px;
    height:600px;
    position: relative;
}
#canvas{
    position: absolute;
}
#canvas2{
    position: absolute;
    z-index:2;
}